<h1><%= @cat.name %></h1>
<p><strong>Information about this cat.</strong></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Sex</th>
      <th>Birth Date</th>
      <th>Color</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @cat.name %></td>
      <td><%= @cat.sex %></td>
      <td><%= @cat.birth_date %></td>
      <td><%= @cat.color %></td>
      <td><%= @cat.description %></td>
    </tr>
  </tbody>
</table>

<h3>Scheduled Rental Periods</h3>
<% @rentals.each do |rental| %>
  <li>
    <ul><strong> </strong>
      <%= rental.user.user_name %>
      <br>
    <ul><strong>Start Date: </strong>
      <%= rental.start_date %>
      <br>
      <strong>End Date: </strong>
      <%= rental.end_date %>
      <br>
      <strong>Status: <%= rental.status %></strong>
      <% if rental.status == "PENDING" && owned_cat?(@cat) %>
        <%= button_to [rental, :approve], method: :patch do %>
          <strong>Approve</strong>
        <% end %>
        <%= button_to [rental, :deny], method: :patch do %>
          <strong>Deny</strong>
        <% end %>
      <% end %>
    </ul>
  </li>
<% end %>
